* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    width: 100%;
}


@media (max-width: 992px) {
    .row {
        flex-wrap: wrap;

    }

    .column {
        width: calc(100%/2);
    }
}

@media(max-width:600px) {
    .row {
        flex-direction: column;

    }

    .column {
        width: 100%;
    }
}